// Navigation Styles here

.navigation {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  #styling-mixins.dashed-border();
  
  
  .navbar {
    #flex-mixins.flex-row(space-between, center);
    margin: 0 auto;
    max-width: 800px;
    nav {
      #flex-mixins.flex-row(space-evenly, flex-end);
      padding: 20px;
      a {
        padding-left: 30px;
        font-size: 1.6rem;
        color: @shark;
        text-decoration: none;
      }
    }
  }
}